<!DOCTYPE html>
<html>
<head>
  <title>external CSS</title>
  </head>
<body>

  <h1>Welcome to My Page</h1>
  <h2>swivel</h2>
  <p>This is an example of using internal CSS in HTML.</p>

</body>
</html>