    body {
            font-family: Arial;
            background-color: red;
            margin: 0;
            padding: 0;
        }

        .form-container {
            width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px 
        }


        h1 {
            text-align: center;
            color: grey;
        }


        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }


        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid black;
            
        }

       
        button {
            width: 100%;
            background-color: brown;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: blue;
        }
